#about_page {
    max-width: 1600px;
    margin: 0 auto;
}

header {
    background-color: #BF0016;
    text-align: center;
    margin-top: -10px;
}

body {
    background-color: #25447a;
    font-family: Arial, Helvetica, sans-serif;
    color: #0ac1f9;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    text-align: center;
    font-size: 30px;
    padding: 40px;
    text-decoration: none;
    color: white;
}

nav a:hover {
    color: #25447a;
    text-decoration: underline;
}